* {
  box-sizing: border-box;
}

body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	background-color: #F3F6FD;
	font-weight: 400;
}

/* -------Позиционирование левой боковой панели и контекта------- */
.app {
  display: flex;
}

/* ----------------------Боковая панель ---------------- */
.panel {
  background: #FBFAFF;
	min-height: 100vh;
	padding: 30px;
}

/* Логотип боковый панели */
.logo {
  margin-bottom: 50px;
}

/* --------------------Меню боковой панели -------------*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__item {
  background: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
	width: 45px;
	cursor: pointer;
}

.menu__item:hover {
	background: #6A6AFB;
}

/* При наведении на иконку происходит инверсия цвета картинки иконки */
.menu__item:hover img {
	filter: brightness(0) invert(1);
}

.menu__item_active {
	background: #5051F9;
}

.menu__item_active img {
	filter: brightness(0) invert(1);
}

.menu__add-item {
  border: 1px solid #CAD5FF;
	border-radius: 14px;
	background: none;
	height: 45px;
	width: 45px;
	cursor: pointer;
}

.menu__add-item:hover {
	background: #E7EBFF;
}


/* --------------------Основной контент----------------------- */
.content {
  flex-grow: 1;
  min-width: 900px;
	padding: 45px;
}

/* Заголовок */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

/* Блок прогресс */
.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress__name {
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}

.progress__precent {
	font-size: 12px;
	line-height: 13px;
	color: #768396;
}

/* Ползунок прогресса */
.progress__bar {
  background: #E6E9ED;
 	border-radius: 4px;
	height: 5px;
	position: relative;
}

.progress__cover-bar {
  position: absolute;
	height: 5px;
	border-radius: 4px;
	background: #5051F9;
}

/* main */

main {
  margin-top: 30px;
}

.habbit {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background: #FFFFFF;
	border-radius: 10px;
}

.habbit__day {
  background: #FBFAFF;
	border-right: 1px solid #E7EBFB;
	border-radius: 10px 0 0 10px;
  padding: 20px 40px;
  font-size: 14px;
	line-height: 16px;
  min-width: 150px;
}

/* day 1 */
.habbit__comment {
  font-size: 16px;
	line-height: 18px;
	color: #23235F;
	padding: 20px 25px;
}

.habbit__delete-btn {
	margin-left: auto;
	margin-right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.habbit__delete-btn:hover {
	background: #6A6AFB;
	border-radius: 5px;
}
.habbit__delete-btn:hover img {
	filter: brightness(0) invert(1);
}

/* Форма добавления нового дня */

.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 10px 0px 25px;
  position: relative;
}

input{
  background: #FFFFFF;
	border: 1px solid #E7EBFB;
	border-radius: 9px;
	padding: 12px 20px;
	font-family: 'Comfortaa', cursive;
	flex: 1;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}


input::placeholder {
	color: #8899A8;
}

/* err input */
.habbit__input_error {
	border: 1px solid red;
}

/* Кнопка добавления нового дня */

.habbit__add-btn {
  background: #EDECFE;
	border-radius: 9px;
	font-weight: 500;
	font-size: 13px;
	line-height: 14px;
	padding: 15px 30px;
	border: 0;
	cursor: pointer;
	color: #5051F9;
}

.habbit__add-btn:hover {
  background: #6A6AFB;
	color: #ededf5
}

.habbit__input {
	padding-left: 45px;
}

.habbit__input-icon {
  position: absolute;
  top: 12px;
  left: 45px;
}

/* popup */

.cover {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover_hidden {
	display: none;
}

.popup {
	background: #FFFFFF;
	box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup__close {
	position: absolute;
	right: 15px;
	top: 15px;
	border: none;
	background: none;
	cursor: pointer;
}

.popup__header {
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	color: #000000;
	margin: 0;
	margin-bottom: 20px;
}

.popup__icon-label {
	font-size: 14px;
	line-height: 16px;
	color: #768396;
	margin-bottom: 10px;
}

.popup__icon-select {
	display: flex;
	gap: 25px;
	margin-bottom: 20px;
}

.popup__icon-btn {
	border: 1px solid #5051F9;
	border-radius: 14px;
	width: 45px;
	height: 45px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.popup__icon-btn_active {
	background: #5051F9;
}

.popup__icon-btn_active img {
	filter: brightness(0) invert(1);
}

.popup__icon-btn:hover {
	background: #6A6AFB;
}

.popup__icon-btn:hover img {
	filter: brightness(0) invert(1);
}

.popup__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	width: 100%;
}

.popup__form input {
	width: 100%;
}